@import 'normalize.css';
@import 'font-awesome/css/font-awesome.css';
@import '@blueprintjs/core/lib/css/blueprint.css';
@import '@blueprintjs/icons/lib/css/blueprint-icons.css';

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  padding: 15px;
}

.spinner {
  margin-top: 120px;
}

.fa {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.filename {
  margin-right: 5px;
}

table {
  width: 100%;
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}

.pt-overlay {
  display: flex;
  justify-content: center;
}

.delete span {
  display: none;
}

.delete svg {
  margin-right: 0;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label > span {
  margin-left: 2px;
}

.callout {
  margin-top: 120px;
  background: #fff;
  border-radius: 3px;
}

.logo {
  width: 16px;
  margin-right: 5px;
}
